<div class="float-container">
    <div class="float-child tree" style="overflow-y: scroll;">
        <app-environment-tree>
            
        </app-environment-tree>
    </div>
    <div class="float-child form-header" id="contentWindow">
        <ng-template [ngIf]="this.piWindowActive">
            <app-piwebsite>

            </app-piwebsite>
        </ng-template>
        
        <ng-template [ngIf]="this.barWindowActive">
            <app-bar></app-bar>
        </ng-template>
    </div>
</div>