<div style="height:auto; overflow-y: hidden;">
    <mat-toolbar color="primary" class="tb">
        <div style="width:100%;">
            <h1 style="margin:5px">Register</h1>
            <button mat-icon-button style="position:absolute; right:5px; top:5px;" (click)="closeDialog()">
                <mat-icon>
                    cancel
                </mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div>
        <mat-form-field appearance="fill" >
            <mat-label>Email</mat-label>
            <input matInput #Email placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Password</mat-label>
            <input matInput type="password" #Password placeholder="Password">
        </mat-form-field>        
        <mat-form-field appearance="fill" >
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" #ConfirmPassword placeholder="Password">
        </mat-form-field>
    </div>
    <div style="margin-bottom:5px">
    <button mat-raised-button color="primary" style="float:right; margin:5px;" (click)="register(Email.value, Password.value, ConfirmPassword.value)"> Register
    </button>
    </div>
    <div *ngIf="this.loginErrorMessage != null">
        <h4 color="red">
            {{this.loginErrorMessage}}
        </h4>
    </div>
</div>